@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
#logo-container{      
    border: 6px #ff0066 solid;
    /* #ff0066      #006666 */
    color: white;
    background-color: black;
    display: inline-block;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 1em;
    font-family: 'Rubik', sans-serif;
    opacity: 1;
    
}
#logo-top{
    font-size: 45px;
    text-align: center;
}
#logo-bottom{
    font-size: 45px;
}
#main{
    padding: 30px;
    height: 60vh;
    text-align: center;
    background-image: url('');
    background-size:contain;
    background-attachment: fixed;
}
#heading{
    text-align: center;
    font-size: 50px;
    background-color: rgb(53, 52, 52);
    color: white;
    padding: 10px;
    margin-top: 5vh;
}
#middle-case{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
align-items: center;
margin-top: 5vh;
}
#message{
    border: 2px salmon solid;
    padding: 10px;
    margin: 5px;
    background-color: gray;
    color: white;
    margin-top: 5vh;
}
#mess1{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    background-color: green;
    color: white;
}
#mess2{
    font-size: 20px;
    text-align: center;
}
#Menu-main{
    display: flex;
    flex-direction: column;
    margin-left: 40vw;
    margin-right: 40vw;
    padding: 10px;
    margin-top: 4vh;
    text-align: center;
}
#Menu{
    padding: 20px;
    font-size: 20px;

}
#owners{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px;
}

#owners{
    background-image: url('/pexels-edward-eyer-1049626.jpg');
    background-size: contain;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

