@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&display=swap');

#logo-top{
    font-size: 45px;
    text-align: center;
}
#logo-bottom{
    font-size: 45px;
}
#main{
    display: flex;
    
    justify-content: space-between;
    
    flex-wrap: wrap;
    padding: 30px;
    height: 60vh;
    text-align: center;
    background-image: url('/pexels-ella-olsson-1640777.jpg');
    background-size:contain;
    background-attachment: fixed;
}
#heading{
    text-align: center;
    font-size: 50px;
    background-color: rgb(53, 52, 52);
    color: white;
    padding: 10px;
    margin-top: 5vh;
}
#middle-case{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
align-items: center;
margin-top: 5vh;
}
#message{
    border: 2px salmon solid;
    padding: 10px;
    margin: 5px;
    background-color: gray;
    color: white;
    margin-top: 5vh;
}
#mess1{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    background-color: green;
    color: white;
}
#mess2{
    font-size: 20px;
    text-align: center;
}
#Menu-main{
    display: flex;
    text-align: center;
    margin: 35px;
    text-align: center;
    justify-content: center;
}
#Menu{
    padding-right: 30px;
    padding-left: 30px;
    font-size: 25px;

}
#owners{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px;
}

#owners{
display: flex;
flex-wrap: wrap;
}
.owner-text{
    border: 3px sandybrown solid;
    padding: 10px;
}

